<li class="product-item">
  <a href="#" class="product-link" data-product="{{convertToJSON this}}">
    <figure>
      <img src="assets/dest/img/{{imageName}}" alt="{{title}} {{style}}">
      <figcaption>
        <h2 class="product-title">{{title}}</h2>
      </figcaption>
    </figure>
    <div class="product-price">
      <hr class="separator">
      <p class="full-price"><span class="currency-format">{{currencyFormat}}</span>{{formatPrice price}}<span class="price-cents"></span></p>
      <p class="installment-price">ou {{installments}}x {{currencyFormat}} {{installmentPrice}}</p>
    </div>
  </a>
</li>
