<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/dest/css/index.css">
  <title>Netshoes Cart Test</title>
</head>
<body>
  <section class="products-wrapper">
    <ul class="products-list">
      {{#each products}}
        {{> product }}
      {{/each}}
    </ul>
  </section>
  <nav class="bag-content">
    <h4 class="bag-title">Sacola</h4>
    <div class="products-added-list">
      <div class="products-added-item">
        <div class="product-added-content">
          <figure class="products-added-img">
            <img src="assets/dest/img/thumb-example.jpg" alt="">
          </figure>
          <div class="products-added-description">
            <p class="products-added-title">Camiseta Corinthians College 77</p>
            <p class="products-added-style">G | Preto e Branco</p>
            <p class="products-added-amount">Quantidade: 2</p>
          </div>
          <div class="products-added-action">
            <a href="#" class="product-remove"></a>
            <p class="bag-item-price">R$ <strong>149</strong>,90</p>
          </div>
        </div>
      </div>
    </div>
    <div class="products-subtotal"></div>
    <form action="" class="form-conclusion-wrapper" method="POST">
      <input type="hidden" name="purchaseConclusion" value="productsData">
    </form>
  </nav>
  <script src="assets/dest/js/index.js"></script>
</body>
</html>
