/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  position: relative;
  font-size: 62.5%;
  font-family: 'Open Sans', Arial, sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* Products List
   ========================================================================== */
.products-wrapper {
  max-width: 730px;
  margin: 0 auto;
  padding: 50px 0;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-item {
  width: 203px;
  margin: 25px 10px;
  text-align: center;
}

.product-item .product-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item .separator {
  width: 15px;
  height: 2px;
  background-color: #dfbd00;
  border: none;
}

.product-item .product-title {
  min-height: 1.75rem;
  margin-top: 0.9375rem;
  font-size: 0.875rem;
}

.product-item .full-price,
.product-item .product-title {
  color: #313135;
}

.product-item .full-price {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
}

.product-item .currency-format {
  font-size: 0.75rem;
  font-weight: 400;
}

.product-item .installment-price {
  font-size: 0.875rem;
  color: #999;
}

/* Purchase Bag
   ========================================================================== */
.bag-content {
  position: absolute;
  top: 0;
  right: -950px;
  width: 950px;
  height: 100%;
  color: #fff;
  background-color: #202025;
  transition: transform .6s;
}

.is-bag-open {
  transform: translateX(-950px);
  transition: .6s;
}

.bag-content .bag-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 0;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.bag-content .bag-title:before {
  content: '';
  display: inline-block;
  margin-right: 0.9375rem;
  width: 33px;
  height: 40px;
  background: url('../img/bag-icon.svg');
}

.products-added-item {
  border-top: 2px solid rgba(0, 0, 0, 0.4);
}

.products-added-item .product-added-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.products-added-item .product-added-content:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.products-added-item .products-added-description {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 0.75rem;
}

.products-added-item .products-added-action {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.products-added-item .products-added-title {
  font-size: 0.875rem;
  font-weight: 600;
}

.products-added-item .products-added-style,
.products-added-item .products-added-amount {
  color: #999;
}

.products-added-item .products-added-style {
  margin: 3px 0;
}

.products-added-item .bag-item-price {
  margin-top: 0.9375rem;
  font-size: 0.875rem;
  line-height: 16px;
  color: #dfbd00;
}

.products-added-item .bag-item-price > strong {
  font-weight: 700;
}

.products-added-item .product-remove {
  align-self: flex-end;
  width: 14px;
  height: 14px;
  background: url('../img/remove-icon.svg');
}
